<h1>Listing comments</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Body</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.post_id %></td>
    <td><%= comment.body %></td>
    <td><%= comment.title %></td>
    <td><%= link_to 'Edit', edit_post_comment_path( comment.post_id, comment.id) %></td>
    <td><%= link_to 'Destroy', post_comments_path( 1, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_post_comment_path %>
