<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <br />
      <div class="well">
        <div align="center">
        <img src="Blog/public/jack.jpg" class="img-polaroid">
        <h4 align="center">Jack Hanford</h4>
      </div>
      </div>
    <div class="well">
  <ul class="nav nav-list">

    <li class="nav-header">More Topics</li>
    <li class="active"><a href="#">Home</a></li>
    <li>Filler</li>
    <li>Filler</li>
    <li>Filler</li>
    <li>Filler</li>
  </ul>
  </div>
  <div class="well">
    <h5>Social</h5>
  </div>
</div>
<h3>Listing posts</h3>
<hr>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

