<%= render 'side' %>
<div class="span10">
<h3 class="text-info">My Posts</h3>

<% @posts.each do |post| %>
<div class="limit">
  <div class="boxx">
  <p class="text-info"><big><%= post.title %> by <%= post.name %></big></p>
  <p class="muted"><%= post.content%> <b><%= link_to 'Read more', post %></b></p>
</div>
</div>
<% end -%>

<!--
<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
-->
